.card {
  min-height: 400px;

  .badge {
    padding: 10px;
    font-size: 20px;
    margin-top: auto;
    position: absolute;
    right: 0;
    opacity: 0.8;
  }

  .button_block {
    .btn {
      width: 48%;
    }
  }
}

